<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit your <%=hamburger.name%></title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
   <h3>Edit <%=hamburger.name%></h3>

	<form action="/hamburger/<%=id%>?_method=PUT" method="POST">
		<input type="text" name="name" value="<%=hamburger.name%>"></input>
		<input type="text" name="color" value="<%=hamburger.color%>"></input>
		<button type="submit">Submit</button>
	</form>
    
</body>
</html>